body {
  background: no-repeat center center fixed url("./background.jpg");
  background-size: cover;
  color: #54bee7;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
}

.playlist {
  background: #1a1a1a; 
  color: #C4B454;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.playlist h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.playlist ul {
  list-style: none;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}

.playlist li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background: #333;
    border-radius: 5px;
    transition: background 0.3s;
}

.playlist li:hover {
    background: #444;
}

.player {
    text-align: center;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    overflow: hidden;
}

#title {
  font-size: 24px;
  margin-bottom: 20px;
}

audio {
  width: 100%;
  margin-bottom: 20px;
}

.controls button {
  font-family: "Inter", sans-serif;
  background: #54bee7;
  color: #1a1a1a;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.controls button:hover {
  /* background: rgb(2, 0, 36); */
  background: rgb(58, 73, 112);
  background: linear-gradient(45deg,
      rgba(58, 73, 112, 1) 0%,
      rgba(92, 196, 255, 0.9640231092436975) 98%);
}

.upload {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .upload input {
    display: none;
} */

.upload label {
    background: #950740;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.upload label:hover {
    background: #6f2232;
}

.audio-animation {
    display: none;
    margin: 20px;
    max-width: 500px;
}

.now-playing {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    color: #5CC4FF;
}
/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .playlist {
        margin: 0 0 20px 0;
        max-width: 100%;
    }

    .player {
        max-width: 100%;
    }

    .upload {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 20px;
    }

    .now-playing {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
    }
}
